<!--Topside-->
<div class="container">
    <div class="row mt-4">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header bg-info text-white">
                    Information
                </div>
                <div class="card-body">
                    <marquee behavior="" direction="">
                        <h3 class="my-4">Power Industry Recent News - Coal demand up by 7.1% ; Stock pits reducing quickly ; Coal imports expected to rise by 5% in the next decade</h3>
                    </marquee>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-header bg-info text-white">
                    Statistics
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <a class="text-decoration-none text-dark" href="{% url 'demployee' %}">
                                <div class="card my-card shadow text-center p-3">
                                    <h4>Employees <i class="fas fa-users"></i></h4>
                                    
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a class="text-decoration-none text-dark" href="{% url 'dtask' %}">
                                <div class="card my-card shadow text-center p-3">
                                    <h4>Tasks <i class="fas fa-box"></i></h4>
                                    
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a class="text-decoration-none text-dark" href="{% url 'dcustomer' %}">
                                <div class="card my-card shadow text-center p-3">
                                    <h4>Customers <i class="fas fa-shipping-fast"></i></h4>
                                    
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a class="text-decoration-none text-dark" href="{% url 'dallot_task' %}">
                                <div class="card my-card shadow text-center p-3">
                                    <h4>Alloted Tasks <i class="fas fa-shipping-fast"></i></h4>
                                    
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a class="text-decoration-none text-dark" href="{% url 'dcustomerinfo' %}">
                                <div class="card my-card shadow text-center p-3">
                                    <h4>Information <i class="fas fa-shipping-fast"></i></h4>
                                    
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a class="text-decoration-none text-dark" href="{% url 'dpotential' %}">
                                <div class="card my-card shadow text-center p-3">
                                    <h4>Potential <i class="fas fa-shipping-fast"></i></h4>
                                    
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End Topside-->